@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

$primary-color: #444444

*
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif

header
    margin: 0 auto
    padding-top: 2vh
    display: flex
    max-width: 80%
    justify-content: space-around
    .logotype
        text-transform: uppercase
        a
            text-decoration: none
            line-height: none
            color: $primary-color
    nav
        position: relative
        ol
            display: flex
            justify-content: flex-start
            li
                position: relative
                list-style: none
                line-height: 50px
            a   
                font-size: 1.2em
                text-decoration: none
                color: $primary-color
                padding: 2em
                &:hover
                    text-decoration: underline
            button
                font-size: 1.2em
                border: none
                background: white

        .cart
            display: none
            background: white
            border-radius: 4px
            padding: 1em
            position: absolute
            color: $primary-color
            border: 1px solid $primary-color
            width: 300px
            height: 400px
            overflow-y: scroll
            text-align: center
            z-index: 1
            &::before
                content: ''
                position: absolute
                background: #444444
                left: 25px
                top: -10px
                width: 20px
                height: 20px
                -webkit-transform: rotate(45deg)
                transform: rotate(45deg)
                z-index: 0
            img
                margin-top: 150px
        .active
            display: block

.element-cart                
    display: flex
    justify-content: space-around
    font-size: 0.8em
    flex-wrap: wrap
    i
        width: 100%
@media screen and ( max-width: 1280px  )
    .cart
      left: -200px!important
      &::before
          left: 235px !important
                

main
    margin: 0 auto
    max-width: 80%
    section
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        .product
            width: min-content
            padding: 1em
            display: flex
            flex-wrap: wrap
            justify-content: center
            img
                width: 300px
                margin-bottom: 1vh
            span
                text-align: left
                width: 50%
                margin-bottom: 1vh
            i   
                text-align: right
                width: 50%
                margin-bottom: 1vh
            button
                background-color: #4CAF50
                border: none
                color: white
                padding: 15px 32px
                text-align: center
                text-decoration: none
                display: inline-block
                font-size: 1em
footer
    display: flex
    justify-content: center